body{
   background-color: rgb(35, 122, 169); /*blue*/
   margin:0;
   padding:0px;
   min-width:400px;
   font-family: arial, verdana;
}

body a:hover{
	color:rgb(35, 122, 169)/*#FF00FF*/;
} 

h1, h2, h3{
	margin-top:0px;
	padding:0;
}

#header {
	position:fixed;
   	top:0;
   	width:100%;
    background-color: rgb(85, 85, 85); /*szary*/
    text-align: center;
    font-size: 16px;
    color: rgb(187, 187, 187);
    box-shadow:0px 0px 5px #000000;
	z-index:1;
}

#header_log{
	/*padding-left: 1150px;*/
	float: right;
	margin-right: 50px;
}
#header li
{
     position: relative;
     padding: 10px;
     float:left;
     text-align: center;
     background-color:transparent;
     list-style:none;
}

#header li a{
     text-decoration:none;
     color:#ffffff;
     display:block;
     font-size: 10px;
}

#header li a:hover {
	color:#000010;
} 

#h_p{
	margin: 50px auto 10px auto;
	min-width: 600px;
	max-width: 100%;
	text-align: left;
	min-height: 60px;
	max-height: 300px;
	color: rgb(227, 242, 223);
	position: relative;/*background-color: rgb(35, 122, 169);*/
	background-color: rgb(25,46,61);
}
#head{
	padding: 200px 0px 0px 0px;
	margin: 50px auto 10px auto;
	min-width: 600px;
	max-width: 80%;
	text-align: left;
	min-height: 60px;
	color: rgb(227, 242, 223);
	position: relative;/*background-color: rgb(35, 122, 169);*/
    
}

#logo{
    width:300px;
    height:200px;
    padding: 0px 0px 0px 0px;
    margin: -150px 20px 0px 50px;
    float: left;
}

#napis{
    position:relative;
    margin:0px 0 0px 170px;
    padding:10px;
}

#head h1, h2 ,h3{
    text-align:left;
    margin:0px;
	padding:0px;
	
}

#menu_old{
    min-height:60px;
    max-width: 350px;
    position:absolute;
    top: 150px;
}

#menu{
	padding: 0px 0px 0px 0px;
	max-width: 1000px;
	min-width: 700px;
	float: right;
	margin: -110px 30px 40px 10px
}

#menu_pasek{
	height: 60px;
	width: auto;
    top: 100px;
    float: right;
    /*background-color: rgb(44, 90, 131);
    opacity: 0.5;*/
}

#menuglowne {
    min-width:630px;
    max-width:100%;
    height:60px;
    margin:auto;
    float: right;
    /*padding-left: 600px;*/
   background-color: rgb(85, 85, 85);
   -moz-box-shadow: 0px 10px 5px #000;
-webkit-box-shadow: 0px 10px 5px #000;
box-shadow: 2px 2px 5px #000;
}

#menuglowne ul, #menuglowne ul ul{
   
    list-style: none;
    padding:10px ;
    margin: auto;
    
}

#menuglowne li{
    font-weight:500;
    position: relative;
    padding: 10px;
    margin:10px 0  0 10px ;
    float:left;
    text-align: center;
    list-style:none;
}

#menuglowne li a{
     text-decoration:none;
     color:#ffffff;
     display:block;
     font-size: 16;
     
}

#menuglowne li a:hover {
	color:#FFFFFF;
	background: none repeat scroll 0% 0%  rgb(32,64,94);/*rgb(44, 90, 131);*/
}

#srodek{
	margin:auto;
	min-width:500px;
	max-width:80%;
	min-height: 200px;
	height: auto;
	padding: 20px 0 50px 50px ;
	background-color:#FFFFFF;
	position:inherit;
	top: 100px;
	box-shadow: 6px 0 4px  -4px #222 , -6px 0 4px  -4px #222;
}

#srodek_info{
	width: 490px;
	max-width: 600px;
	float: left;
}

#srodek_view{
	width: 490px;
	max-width: 600px;
	float: right;	
}
#srodek_view2{
	width: 450px;
	max-width: 600px;
	float: right;	
}

#srodek_info_grafik{
	width: 800px;
	float:left;
}

#srodek_view_grafik{
	width: 300px;
	float: inherit;	
}

#pojemnik{
	margin: 30px 30px 30px 30px;
	top:0;
	bottom:0;
	min-width:400px;
	background-color:#ffffff;
	text-align:justify;
	font-size:medium;
	height: auto;
	min-height:650px;
}

#footer {
	position:fixed;
   	bottom:0;
   	width:100%;
    background-color: rgb(85, 85, 85);
    text-align: center;
    font-size: 13px;
    color: rgb(187, 187, 187);
}

.thumbnails img { 
	height: 80px; 
	border: 4px solid #555; 
	padding: 1px; 
	margin: 0 10px 10px 0; 
}

.thumbnails img:hover { 
	border: 4px solid rgb(35, 122, 169); 
	cursor:pointer; 
}

.preview img { 
	border: 4px solid #444; 
	padding: 1px; 
	height: 500px; 
}


#nav{
margin:30px 0 0 30px;
left:0;
/*padding:20px 20px 20px 40px;
background:blue;*/
position: absolute;
width:180px;
text-align:justify;
font-size:medium;
}


ul.navigation, ul.navigation ul{
    margin:0px;
    display:block;
    list-style: none;
    padding: 0px ;
    margin: auto;
}

ul.navigation ul {
   left: 121px;
  top:15px;
    position:absolute;
   visibility: hidden;
}
ul.navigation ul li{
   padding:2px;
    position:relative;
    border: 1px solid #ffffff;
    /*visibility: hidden;*/
}
ul.navigation li:hover > ul {
    visibility: visible;
}

.navigation {
    position: absolute;
    top: 0px;
    margin:auto;
    display:none;
}

.navigation li
{
    /*display:inline;
    padding:10px;
    margin:0px;*/
    font-weight: 600;
     position: relative;
     padding: 5px;
     margin:0 ;
     border-bottom: 1px solid #ffffff;
     float:left;
     width:110px;
     text-align: left;
     background-color:#376585;;
     color:#ffffff;
  /*  border-bottom: 3px solid #a8bfb7;*/
}

.navigation li a{
    color: #ffffff;
	display: block;
	font-size: 12px;
	padding: 2px;
	/*text-transform: uppercase;*/
    text-decoration: none;
}

.navigation a:hover, #navigation a:active {
    color: #334D70;
}

.navigation li:hover {
	/*background-color: #E5EEF5;*/
	text-decoration: none;
}


/*Elementy strony
TABELE */
table
{
margin-top:10px;
border-color: #000000;
text-align: center;
border: 0;
}
td
{
padding: 5px;
margin-left:0px;
/*border-bottom:1px solid #000000;*/
}
th{
    padding:6px;
    text-transform: uppercase;
    font-weight:bold;
    font-size:12px;
}
thead
{
background-color: #f6ad1a;

}
tbody
{
background-color: #F6F7FE;


}

form dt {
    color:black;
    padding:3px;
}

form dl{
    padding:0px;
}
form label{
    padding:2px;
}

.zajete{
    background-color: #FF3333/*#F5785A*/;
}
.wolny{
    background-color: greenyellow/*#F5785A*/;
}

.wolne a{
    color:green;
}
#formUsun{

margin-right:100px;
}

#formDodaj{

margin-top:-260px;
margin-left:200px;
}

#Usun{
position:absolute;
margin-top:-160px;
margin-left:150px;
}

#Dodaj{
position:absolute;
margin-top:-120px;
margin-left:-50px;
}

#Zapis{
margin-left:100px;
    
}
/* Galeria */
#image{
border:4px #666 solid;
height:480px;
width:640px;}

.thumb{
float:left;
margin-right:10px;
margin-top:10px;
}

#container
{
padding:0 0 60px 0;}

/*Kontakt wizytowka*/
#adres p{
margin:2px 0 0 60px ;

}
.rys{
    position:absolute;
}
#wizytowka img {
    margin:4px 4px 4px 2px;
}

.spis{
    font-size:smaller;
    text-align: left;
    margin:0px;
    padding: 0px;
    list-style: circle;
}

#wizyty td{
    border-bottom: 1px solid grey;
}

.left {
    text-align: left;
}

#legenda td{
    padding:0px 25px 0px 25px;
    text-transform: uppercase;
    font-size:small;
    font-weight: bold;
    text-align: left;
}

.errors
{
    list-style:none;
    color:red;
    font-size:small;
}
.confirm-box , .error-box, .info{
margin-bottom: 10px;
padding:15px 10px 15px 60px;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
max-width: 600px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
background-repeat:no-repeat;
background-position: 10px center;
}
.confirm-box{
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../img/icon/check.png');
}
.error-box {
color: #D80000;/*#b94a48*/
background-color: #FFBABA; /*#f2dede*/
border: 1px solid #fbeed5;
background-image: url('../img/icon/delete.png');

}

.info{
color: #00529B;
background-color: #BDE5F8;
border: 1px solid #aacedf;
background-image: url('../img/icon/information.png');
}
#przyjecia td{
    font-size:1em;
}
#lewa{
    text-align:left;
}
.lewa{
    text-align: left;
}
.prawa{
    text-align: right;
}
.byl{
    background-color: #E8F1D4/*#C1CDCD*/;
}

#widok{
    text-align:left;
    margin:auto;
    
}
#tydzien td{
    max-width:38px;
}
.status{
    min-width: 50px;
}

/*BUTTON*/
.button {
	-moz-box-shadow:inset 0px 1px 0px -5px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px -5px #ffffff;
	box-shadow:inset 0px 1px 0px -5px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	padding:4px 13px;
	text-decoration:none;
	text-shadow:1px 1px 10px #ffffff;
}.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.button:active {
	position:relative;
	top:1px;
}

label.error{
    color:red;
    margin-left:3px;
    background-image: url('../images/icon/mini_delete.png');
    background-position:10px center;
    margin-bottom: 5px;
    padding:15px 10px 15px 40px;
    background-repeat:no-repeat;

}
input.error{
    border:2px dotted red;
}

label.valid{
    color:green;
    margin-left:3px;
    background-image: url('../images/icon/mini_check.png');
    background-position:10px center;
    margin-bottom: 5px;
    padding:15px 10px 15px 40px;
    background-repeat:no-repeat;
}
/*label.required{
    margin-top:2px;
}*/
.message{
    color:red;
    font-weight: bold;
}

.rezerwacja td{
    padding:5px 5px 5px 5px;
    margin: 5px ;
   /* background-color: rgb(227, 232, 235);*/
    display:inline-block;
}

.rezerwacja a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(25,46,61);
}

.rezerwacja a :hover{
    color: rgb(35, 122, 169) /*rgb(25,46,61)*/;
}
td.first_row {
    padding: -30px 0px 5px 0px;
    background-color: transparent;
    font-weight: bolder;
}



/* calendar */
table.calendar{
	position: static;
}

table a{
	color: #FFFFFF;
	text-decoration: none;
}

table a:hover{
	color: #FFFFFF;
}

tr.calendar-row{  

}

td.calendar-day{ 
	min-height:80px; 
	font-size:11px; 
	position:relative; 
} 

	* html div.calendar-day { 
		height:80px; 
		}
td.calendar-day :hover{
	background:#999999;
	} 

td.calendar-day-np	{ 
	background:#FFFFFF; 
	min-height:80px; } * html div.calendar-day-np { height:80px; }


td.calendar-day-head { 
	background:#FFFFFF; 
	font-weight:bold; 
	text-align:center; 
	width:100px; 
	padding:5px; 
}

	div.day-number		{ 
	
	background:rgb(35, 122, 169);
	padding:7px; 
	color:#fff; 
	font-weight:bold;
	font-size: 16px; 
	width:90px;
	height: 25px; 
	margin-top:3px;
	margin-left:5px;

}
	div.day-number-nieczynne{
	background-color: #990000;
	padding:7px; 
	color:#fff; 
	font-weight:bold;
	font-size: 16px; 
	width:90px;
	height: 25px; 
	margin-top:3px;
	margin-left:5px;
}
	div.day-number-nieczynne-stare{
	background-color:#222222;
		padding:7px; 
	color:#fff; 
	font-weight:bold;
	font-size: 16px; 
	width:90px;
	height: 25px; 
	margin-top:3px;
	margin-left:5px;
}	
	/*float:center; 
	text-align:center; }
/* shared */

td.calendar-day, td.calendar-day-np { 
	width:120px; 
}




    margin:auto;
}

.zajete{
    background-color: #FF3333/*#F5785A*/;
    font-weight: bold;
    color: rgb(25,46,61);
}
.wolny{
    background-color: rgb(68, 207, 24)/*greenyellow #F5785A*/;}

.zajete_nieWylacznosc{
    background-color: rgb(255, 173, 0);
}

.czynne{
	background-color: rgb(35, 122, 169);
}
.nieczynne{
	background-color: #990000;
}
.nieczynne-stare{
	background-color:#222222;
}	